* {
    box-sizing: border-box;
}

@font-face {
    font-family: 'frutiger';
    src: url(/css/typefaces/frutiger.woff2) 
        format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: 'helvetica-neue';
    src: url(/css/typefaces/helvetica-neue.ttf) 
        format('truetype');
    font-weight: 400, 500, 700;
    font-style: normal, italic;
    font-display: fallback;
}

:root {

    --white: #fff;
    --black: #000;
    --gray-1: #8e8e93;
    --gray-2: #c7c7cc;

    --font-regular: HelveticaNeue, Helvetica, sans-serif; 
    --font-header: 'frutiger', var(--font-regular);

    --width-0: 100vw;
    --width-1: var(--width-0)-2rem; 
    --width-2: var(--width-1)-2rem; 
    --width-3: var(--width-2)-2rem; 

    --height-header: 4rem; 
    --height-1: var(--width-1)*2/3; 

    --gap-1: 0.5rem; 
    --gap-2: 1rem; 
    --gap-3: 1.5rem;
    --gap-4: 2rem;

    --border-radius: 0.75rem;
    --button-side: 2.5rem;

}

a, p {
    font-size: 1rem;
    font-family: var(--font-regular);
    font-weight: normal;
    text-decoration: none;
    text-wrap: pretty; 
}

div.subheader > h1 {
    font-size: 2rem;
    font-family: var(--font-header);
    
}

a.regular:link {color: #007aff;}
a.regular:visited {color: #af52de;}
a.regular:hover {color: #5856d6;}
a.regular:active {color: #ff2d55;}

header {
    height: 4rem;
    background-color: var(--teal);
    padding: 0.75rem var(--gap-medium);
}

p.header {
    color: var(--emphasized-white);
    font-size: 1.5rem;
    line-height: var(--button-side);
}

/* introduction */

div.introduction {
    background-color: var(--white);
    border-radius: var(--border-radius);
    width: var(--width-1);
    padding: var(--gap-2) 0;
    margin: 0 var(--gap-2);
    outline-width: 0.25rem;
    outline-color: var(--black);
}

div.introduction > p {
    color: var(--black);
    margin: var(--gap-small) 0;
    text-align: center;
}

div.introduction > p.name {
    font-size: 2rem;
    font-weight: bold;
}

div.introduction > p.major {
    font-size: 1.5rem;
    font-weight: bold;
}

div.introduction > p.others {
    font-size: 1.25rem;
    font-weight: medium;
}

footer {
    background-color: var(--teal); 
    padding: var(--gap-medium);
}

footer > div.button {
    height: var(--button-side);
    width: var(--content-max-width);
}

footer > div.button > a {
    font-size: 1.25rem;
    font-weight: medium;
    text-align: center;
    color: var(--emphasized-white);
    background-color: var(--red-orange);
    padding: 0.5rem;
    margin: var(--gap-medium) 0;
    border-radius: var(--border-radius);
}

